[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # token: string. The token to be used in the user account creation.
  # email: email address of the user account.
  # expiration_ts: expiration date of the token.
  #%]

[% title = BLOCK %]确认新账户—— '[% email FILTER html %]'[% END %]
[% PROCESS "global/header.html.tmpl"
           title = title
           onload = "document.forms['confirm_account_form'].realname.focus();" %]

<p>
  请在以下表单，填写用户名和密码，姓名可选。
</p>

<form id="confirm_account_form" method="post" action="token.cgi">
  <input type="hidden" name="t" value="[% token FILTER html %]">
  <input type="hidden" name="a" value="confirm_new_account">
  <table>
    <tr>
      <th align="right">Email地址:</th>
      <td>[% email FILTER html %]</td>
    </tr>
    <tr>
      <th align="right"><small><i>(可选)</i></small> <label for="realname">姓名</label>:</th>
      <td><input type="text" id="realname" name="realname" value=""></td>
    </tr>
    <tr>
      <th align="right"><label for="passwd1">密码</label>:</th>
      <td>
        <input type="password" id="passwd1" name="passwd1" value="">
        (最少 [% constants.USER_PASSWORD_MIN_LENGTH FILTER none %] 字符)
      </td>
    </tr>
    <tr>
      <th align="right"><label for="passwd2">确认密码</label>:</th>
      <td><input type="password" id="passwd2" name="passwd2" value=""></td>
    </tr>
    <tr>
      <th align="right">&nbsp;</th>
      <td><input type="submit" id="confirm" value="创建"></td>
    </tr>
  </table>
</form>

<p>
  请在
  <u>[% expiration_ts FILTER time("%B %e, %Y at %H:%M %Z") %]</u>之前完成表单，否则无效。
</p>

<p>
  如果不使用该Email地址，创建账户，请单击“取消”按钮。
</p>

<form id="cancel_account_form" method="post" action="token.cgi">
  <input type="hidden" name="t" value="[% token FILTER html %]">
  <input type="hidden" name="a" value="cancel_new_account">
  <input type="submit" id="confirm" value="取消">
</form>

[% PROCESS global/footer.html.tmpl %]
