[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# Remember to PROCESS rather than INCLUDE this template. %]

[% setting_descs = { 
   "comment_sort_order"               => "查看 $terms.abug 时, 留言的排序方式",
   "csv_colsepchar"                   => "CSV中的字段分隔符为",
   "display_quips"                    => "在每个 $terms.bug 列表上面显示每日一句",
   "zoom_textareas"                   => "文本区放大(需要启用JavaScript)",
   "newest_to_oldest"                 => "最新到最早",
   "newest_to_oldest_desc_first"      => "最新到最早, 保留描述置顶",
   "off"                              => "关闭",
   "oldest_to_newest"                 => "最早到最新",
   "on"                               => "打开",
   "post_bug_submit_action"           => "修改 $terms.abug 之后",
   "next_bug"                         => "显示下一个 $terms.bug ",
   "same_bug"                         => "显示更新的 $terms.bug ",
   "standard"                         => "经典的",
   "skin"                             => "$terms.Bugzilla 通用外观",
   "nothing"                          => "不操作",
   "state_addselfcc"                  => "当修改 $terms.bugs 时，自动添加修改人到邮件抄送列表",
   "always"                           => "总是",
   "never"                            => "从不",
   "cc_unless_role"                   => "仅当不在其中时",
   "lang"                             => "email使用的语言",
   "quote_replies"                    => "回复时引用相关留言",
   "quoted_reply"                     => "引用完整留言",
   "simple_reply"                     => "仅引用留言编号",
   "comment_box_position"             => "附加的留言框的位置",
   "before_comments"                  => "其它留言之前",
   "after_comments"                   => "其它留言之后",
   "timezone"                         => "时区设置",
   "local"                            => "与服务器同步",
   "quicksearch_fulltext"             => "快捷搜索包含留言内容（比较慢）",
   "email_format"                     => "邮件格式偏好",
   "html"                             => "HTML格式",
   "text_only"                        => "纯文本",
   "requestee_cc"                     => "当请求审阅 $terms.bugs 时，自动添加请求者到邮件抄送列表",
   "bugmail_new_prefix"               => "当 $terms.bug 提交时，在邮件主题中添加'新 $terms.Bug :'",
                   } 
%]

[% Hook.process('settings') %]
